form{
  display: flex;
  flex-direction: column;
}

form label {
  margin: .5rem 0px;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
}

ul {
  list-style: none;
}